@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
  background-color: #FDFDFD;
}
h1{

    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h3{

  font-family: "Manrope", sans-serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
}
 li{
  font-family: "Manrope", sans-serif;
font-size: 12px;  
font-weight: 500;
  font-style: normal;
 }

h4{

    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h5{

    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}



h6{

  font-family: "Manrope", sans-serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
}

.navbar{
  background-color: #F8FCFF;
  border-bottom:1px solid rgba(231, 231, 231, 0.8);
}
footer{
  border-top:1px solid rgba(231, 231, 231, 0.8);
  margin-top:16px;

  background-color: #F8FCFF;

}

p{

    font-family: "Manrope", sans-serif;
font-size: 12px;  
font-weight: 500;
  font-style: normal;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .75;
}
.link-nav {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  padding: 2px 4px;
  border: 2px solid transparent; /* Borda invisível para evitar movimentação */
  outline: 1px solid transparent; /* Usa outline para o efeito no hover */
  transition: outline-color 42ms ease;
  box-sizing: border-box; /* Evita mudanças no tamanho */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.link-nav:hover {
  outline-color: rgba(51, 51, 51, 0.378); /* Muda apenas a cor do outline */
  border-radius: 2px;
}


.badge-stroke-dark {
    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  border: 1px solid rgba(110, 110, 110, 0.5);


}

ul.intra {
  list-style-type: disc;
  padding-left: 20px;
}
li {
  margin-bottom: 5px;
}
.card{
  border:1px solid rgba(231, 231, 231, 0.8);

}


.card-img:hover {
    transform: scale(1.05);


}
hr.line-card{
  background-color: rgba(231, 231, 231, 0.8);;

}
.borda-test {
  border-left: 1px solid #bfbfbf;
  height: auto;
  width: 0
}
.card-img{
  cursor: pointer;
  height: 180px;
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  transition: all ease 0.4s;
  border-radius: 16px;

}

.card-img:hover {
    transform: scale(1.03);
    transition: all ease 0.4s;
}